{% load staticfiles %}
{% load i18n %}
{% load content_translation %}

<html>
  <head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124893996-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-124893996-1');
  </script>

    <base href="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Diretório de Ações realizadas pelo projeto Outra 33ª Bienal de Artes de São Paulo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_title %}
    <title>{% trans "OUTRA 33ª Bienal de São Paulo" %}</title>
    {% endblock %}
    <meta name="google" content="notranslate" />

    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static "js/base.js" %}"></script>
    <link rel="stylesheet" href="https://fonts.typotheque.com/WF-031670-010387.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

    {% block extra_head %}
    {% endblock %}

    <style>
      {% block custom_css %}
      {% endblock %}
    </style>
  </head>

  <script type="text/javascript">
    {% block custom_js %}
    {% endblock %}
  </script>

  <body>
    {% url "index" as index_url %}
    {% url "about" as about_url %}
    {% url "contact" as contact_url %}

    <div class="main_container">
      <header>
        <div class="clearfix">
            <div class="sm-col sm-col-12 md-col-12 lg-col-4 main_title"><span><a href="{{ index_url }}">{% trans "OUTRA 33ª Bienal de São Paulo" %}</a></span></div>
            <div class="sm-col sm-col-6 md-col-6 lg-col-1 header_item">
                <a class="header_link {% if request.path == index_url or action %}active{%endif%}" href="{{ index_url }}">{% trans "Ações" %}</a>
            </div>
            <div class="sm-col sm-col-6 md-col-6 lg-col-1 header_item">
                <a class="header_link {% if request.path == about_url %}active{%endif%}" href="{{about_url }}">{% trans "Sobre" %}</a>
            </div>
            <div class="sm-col sm-col-6 md-col-6 lg-col-1 header_item">
                <a class="header_link {% if request.path == contact_url %}active{%endif%}" href="{{ contact_url }}">{% trans "Contato" %}</a>
            </div>
            <div class="sm-col sm-col-6 md-col-6 lg-col-1 header_item">
              <a href="http://www.bienal.org.br/" target="_blank">Bienal</a>
            </div>
            <form id="action_filter_form" method="GET" action='{% url "index" %}'>
              <div class="sm-col sm-col-12 md-col-12 lg-col-1 header_item">
                <input id="id_search" type="text" name="q" placeholder="Busca"/>
              </div>
              <div class="sm-col sm-col-12 md-col-12 lg-col-3 header_item">
                <select name="question" id="id_question">
                    <option value="0">{% trans "Questões" %}</option>
                    {% for iter_question in all_questions %}A
                      {% if question %}
                        <option {% if question.id == iter_question.id %}selected{% endif %} value="{{ iter_question.id }}">{% trans_field iter_question "title" LANGUAGE_CODE %}</option>
                      {% else %}
                        <option value="{{ iter_question.id }}">{% trans_field iter_question "title" LANGUAGE_CODE %}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {% if LANGUAGE_CODE == 'en' %}
                  {% language 'pt-br' %}
                    <a class="language_picker" href="{% url "index" %}">PT</a>
                  {% endlanguage %}
                {% else %}
                  {% language 'en' %}
                    <a class="language_picker" href="{% url "index" %}">EN</a>
                  {% endlanguage %}
                {% endif %}
              </div>
            </form>
        </div>
      </header>

      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  <body>
</html>
