{% load staticfiles %}
<html>
  <head>
    <base href="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="33 Bienal de Artes de São Paulo, Bienal de Artes de São Paulo, Bienal São Paulo, Bienal, alternativa, ações bienal">
    <meta name="description" content="Diretório de ações realizadas durante a Bienal de São Paulo">
    <title>(OUTRA) 33ª Bienal de São Paulo</title>
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://fonts.typotheque.com/WF-031670-010387.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% block extra_head %}
    {% endblock %}

    <style>
      {% block custom_css %}
      {% endblock %}
    </style>
  </head>

  <script type="text/javascript">
    $(document).ready(function(){
        $("#id_question").change(function(){
            $("#action_filter_form").submit();
        });
    });

    {% block custom_js %}
    {% endblock %}
  </script>

  <body>
    {% url "index" as index_url %}
    {% url "about" as about_url %}
    {% url "contact" as contact_url %}

    <div class="main_container">
      <header>
        <div class="clearfix">
            <div class="sm-col sm-col-12 md-col-12 lg-col-3 main_title"><span><a href="{{ index_url }}">(OUTRA) 33ª Bienal de São Paulo</a></span></div>
            <div class="sm-col sm-col-6 md-col-6 lg-col-1 header_item">
              <a class="{% if request.path == index_url or action %}active{%endif%}" href="{{ index_url }}">Ações</a>
            </div>
            <div class="sm-col sm-col-6 md-col-6 lg-col-1 header_item">
              <a class="{% if request.path == about_url %}active{%endif%}" href="{{about_url }}">Sobre</a>
            </div>
            <div class="sm-col sm-col-6 md-col-6 lg-col-1 header_item">
              <a class="{% if request.path == contact_url %}active{%endif%}" href="{{ contact_url }}">Contato</a>
            </div>
            <div class="sm-col sm-col-6 md-col-6 lg-col-1 header_item">
              <a href="http://www.bienal.org.br/" target="_blank">Bienal</a>
            </div>
            <form id="action_filter_form" method="GET" action='{% url "index" %}'>
              <div class="sm-col sm-col-12 md-col-12 lg-col-2 header_item">
                <input id="id_search" type="text" name="q" placeholder="Busca"/>
              </div>
              <div class="sm-col sm-col-12 md-col-12 lg-col-3 header_item">
                <select name="question" id="id_question">
                  <option value="0">Questões</option>
                    {% for question in questions %}
                    <option {% if question.id == question_id %}selected{% endif %} value="{{ question.id }}">{{ question.title }}</option>
                    {% endfor %}
                </select>
              </div>
            </form>
        </div>
      </header>

      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  <body>
</html>
