$black: #111;
$white: #fff;


body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
    margin: 0;
    color: $black;
    background-color: $white;
}

a {
    color: $black;
    text-decoration: none;
    &:link, &:visited {
        text-decoration: none;
    }
    &:hover {
        padding-bottom: 0.4em;
        border-bottom: 2px solid $black;
    }
    &.active {
        padding-bottom: 0.4em;
        border-bottom: 2px solid $black;
    }
}

input {
    width: 100%;
}

#action_filter_form {
    margin-bottom: 0em;
}
