//////////
// BASE
//////////

$black: #111;
$white: #fff;
$border_size: 1px;
$scaled_font: 1rem;

@font-face{
    font-family: "BienalMono";
    src: url('/static/fonts/ibm_plex_mono.ttf');
}


body {
    font-family: "Neutral Regular";
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    color: $black;
    background-color: $white;
    text-rendering: geometricPrecision;
}

a {
    color: $black;
    text-decoration: none;
    &:link, &:visited {
        text-decoration: none;
    }
}

header {
    font-weight: bold;
    line-height: 1.5rem;
    font-size: 1.25rem;

    .header_link {
        &:hover {
            padding-bottom: 0.4em;
            border-bottom: $border_size solid $black;
        }
        &.active {
            padding-bottom: 0.4em;
            border-bottom: $border_size solid $black;
        }
    }

    #id_search {
        border-color: transparent;
        border-bottom: $border_size solid $black;
        margin: 0;
        font-size: 1rem;
        width: 60%;
    }

    #id_question {
        border: $border_size solid $black;
        background: transparent;
        width: 70%;
        font-size: 1rem;
    }

    .language_picker {
        padding-left: 1rem;
        font-size: 0.85rem;
    }
}

hr {
    border-top: $border_size solid $black;
}


#action_filter_form {
    margin-bottom: 0em;
}

%centralized_content {
    text-align: center;
    hr {
        width: 15%
    }

    p, span {
        font-size: $scaled_font;
        line-height: 1.6rem;
    }


    a {
        text-decoration: underline;
        &:link, &:visited {
            text-decoration: underline;
        }
    }
}

.text_content {
    @extend %centralized_content;

    img {
        width: 90%;
        height: auto;
    }
}

.main_container{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header_item {
    text-align: center;
}

///////////////
// ACTIONS LIST
///////////////

#actions_list {
    text-align: center;
    hr { width: 40% }

    h2 {
        line-height:1rem;
        font-size:1.85rem;
        padding-top: 1em;
    }

    .actions {
        font-size:1.25rem;
        line-height:1.35rem;
        margin-top: 1.5em;
        p { font-size: 1.5rem; }
    }
}

#system_log_list{
    text-align: center;
    hr {
      width: 60%;
      margin-bottom: 1.5em;
    }
    font-family: "BienalMono";
}

/////////////////
// ACTIONS DETAIL
/////////////////

#action_nav {
    @extend %centralized_content;
    padding-top: 1.5em;

    hr {
        margin-top: 1.2em;
    }

    a {
        font-size: 0.9rem;
    }

    p, span {
        font-family: "BienalMono";
    }
}

.carousel_wrapper {
    text-align: center;
    .no_images {
        margin: 2em 0 2em 0;
    }
}

#carousel_nav {
    padding-bottom: 0.5em;

    .title {
        font-family: "BienalMono";
    }

    span {
        margin-right: 2em;
    }

    .nav:hover {
        cursor: pointer;
    }

    .active {
        text-decoration: underline;
    }
}

.carousel_wrapper {
    border-top: $border_size solid $black;
    border-bottom: $border_size solid $black;
    overflow: hidden;
}

.carousel_element {
    display: none;

    &.active {
        display: block;
    }

    .carousel_padding {
        padding: 1em;
        &:first-child {padding-left: 0}
        &:last-child {
            padding-right: 0;
            padding-left: 0;
        }

        @media only screen and (max-width: 64em) {
            & { padding: 1em 0; }
        }
    }

    .carousel_img {
        overflow: hidden;
        position: relative;
        display: inline-block;
        text-align: center;

        .landscape {
            width: 100%;
            height: auto;
        }

        .portrait {
            height: 800px;
            width: auto;
        }

        .credits {
            font-size: 0.8rem;
        }
    }

    .carousel_text {
        @extend %centralized_content;

        hr { width: 100%; }
        p {margin: 0;}

        .carousel_text_nav {
          padding-bottom: 1em;
          font-family: "BienalMono";

          span { vertical-align: middle }

          .nav_counter { font-size: .8rem }
          .prev, .next {
            font-size: 2.5rem;
            cursor: pointer;
          }
        }
    }

    p.title {
        font-family: "BienalMono";
        margin-bottom: 0.6em;
    }

    .thumbnail {
        width: 25%;
        height: auto;
        padding: 0 0.25em 0 0.25em;
    }
}

#year-filter {
    text-align: center;

    .years-list {
        margin: 2em 0 2em 0;

        p {
            cursor: pointer;
        }
    }
}

////////
// ABOUT
////////

#about_content {
    @extend %centralized_content;

    hr {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h4 {
        margin-bottom: 0px;
    }

    #interview {
        a {font-weight: bold;};
        margin-top: 2em;
    }

    .profile {
        margin-top: 0em;
        font-size: 0.8rem;
    }

    .ampliado {
        text-decoration: underline;
    }

    .question {
        font-weight: bold;
    }

    .answer {
        label{font-weight: bold;}
    }
}

//////////
// CONTACT
//////////

#contact_session {
    @extend %centralized_content;

    hr {
        width: 100%;
    }

    textarea {
        width: 100%;
        border: $border_size solid $black;
    }

    input[type="text"], input[type="email"] {
        width: 100%;
        border-color: transparent;
        background: transparent;
        border-bottom: $border_size solid $black;
        align:center;
    }

    input[type="file"] {
        display: none;
    }

    input[type="submit"] {
        border-bottom: $border_size solid $black;
        display: inline-block;
        cursor: pointer;
    }

    input[type="checkbox"] {
        border-bottom: $border_size solid $black;
        display: inline-block;
        cursor: pointer;
    }

    label {
        line-height: 1.25rem;
        font-size: 0.9rem;
        font-family: "BienalMono";
        margin-bottom: 1em;
        display: block;
    }

    label[for="id_upload"] {
        line-height: 1.25rem;
        font-size: 0.9rem;
        border-bottom: $border_size solid $black;
        display: inline-block;
        cursor: pointer;
    }

    label[id="submit_button"] {
        line-height: 1.25rem;
        font-size: 0.9rem;
        margin-top: 1em;
        border-bottom: $border_size solid $black;
        display: inline-block;
        cursor: pointer;
    }
}

////////////////
// MEDIA QUERIES
////////////////

@media only screen and (max-width: 64em) {
    .main_container{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .main_title {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .header_item {
        margin-bottom: 0.5rem;
    }


    #actions_list {
        .text_content {
            max-width: 100%;
        }
    }
}
