{% load staticfiles %}
<html>
  <head>
    <base href="domínio-entra-aqui">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="33 Bienal de Artes de São Paulo, Bienal de Artes de São Paulo, Bienal São Paulo, Bienal, alternativa, ações bienal">
    <meta name="description" content="Diretório de ações realizadas durante a Bienal de São Paulo">
    <title>33ª Bienal de Artes de São Paulo</title>

    {% block extra_head %}
    {% endblock %}

    <style>
      {% block custom_css %}
      {% endblock %}
    </style>
  </head>

  <body>
    <h1>Header</h1>

    {% block content %}
    {% endblock %}

    <script type="text/javascript">
      {% block custom_js %}
      {% endblock %}
    </script>
  <body>
</html>
