{% extends "base.html" %}
{% load static %}

{% block custom_css %}
  {{ action.custom_css }}
{% endblock %}

{% block content %}
    <div class="clearfix">
        <div class="md-col-5 sm-col-12 mx-auto text_content">
            <h3 class="mb0 mt4">{{ action.title }}</h3>
            <h5 class="m1 regular">{{ action.action_date|date:"F o" }}</h5>
            <hr/>

            <div>
                {{ action.body|safe }}
            </div>
        </div>
    </div>

    {% if action.has_carousel %}
    <div class="clearfix">
        <div class="sm-col-12 md-col-8 mx-auto">
            <div class="carousel_wrapper">
            {% for analysis in action.carousel.all %}
              {% include "actions/carousel_image.html" with counter=forloop.counter total=action.carousel.all|length %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="clearfix">
        <div class="md-col-5 sm-col-12 mx-auto" id="action_nav">
            <h3 class="mb0 mt3">Questões Relacionadas</h3>
            <hr/>
            {% for question in action.questions.all %}
              <p class="nav_link_container"><span>- </span><a href="{{ question.filter_url }}">{{ question.title|upper }}</a></p>
            {% endfor %}
            <div class="mt4">
                <hr/>
                <span class="nav_link_container">
                    {% if prev %}
                    <span>&lt; <a href="{{ prev.detail_url }}">AÇÃO ANTERIOR</a></span>
                    {% endif %}
                     |
                    {% if next %}
                    <span><a href="{{ next.detail_url }}">PRÓXIMA AÇÃO</a> &gt;</span>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <script src="{% static "js/action_detail.js"%}"></script>
{% endblock %}

{% block custom_js %}
  {{ action.js_code|safe }}
{% endblock %}
