{% load static %}
{% load i18n %}
{% load content_translation %}

<div class="carousel_wrapper">
  {% for analysis in images_analyses %}
  {% with counter=forloop.counter %}
  <div class="carousel_element" data-position="{{ counter }}" id="img-{{ analysis.id }}">
    <div class="sm-col md-col-8 sm-col-12 carousel_img carousel_padding">
        <img class="carousel_image" src="{{ analysis.clean_url }}" alt="{% trans_field analysis "title" LANGUAGE_CODE %}" title="{% trans_field analysis "title" LANGUAGE_CODE %}"/>
        {% if analysis.date.year == 2018 %}
        <p class='credits'>{{ analysis.author }}. {{ analysis.date|date:"d.m.Y" }}<p>
        {% else %}
        <p class='credits'>{{ analysis.author }}. {{ analysis.date|date:"Y" }}<p>
        {% endif %}
    </div>
    <div class="sm-col md-col-4 sm-col-12 carousel_padding carousel_text">
        <div class="carousel_text_nav">
          <span class="prev"><img src="{% static 'img/left.png' %}"/></span>
          <span class="nav_counter">{{ counter }}/{{ total }}</span>
          <span class="next"><img src="{% static 'img/right.png' %}"/></span>
        </div>
        <hr/>
        <div class="carousel_text_content">
            <p class="title">{% trans "IMAGEM" %}</p>
            <p>{% trans_field analysis "title" LANGUAGE_CODE %}</p>
            <hr/>

            {% if LANGUAGE_CODE == 'en' %}
              <p class="title">{% trans "ANÁLISE" %}</p>
              {% for text in analysis.analysis_en %}
                <p>{{ text }}</p>
              {% endfor %}
              <hr/>
              <p class="title">{% trans "PRODUTOS" %}</p>
              <p>{{ analysis.products_en|join:", " }}</p>
              <hr/>
              <p class="title">{% trans "CONTEÚDO" %}</p>
              <p>{{ analysis.category_en }}</p>
            {% else %}
              <p class="title">{% trans "ANÁLISE" %}</p>
              {% for text in analysis.analysis %}
                <p>{{ text }}</p>
              {% endfor %}
              <hr/>
              <p class="title">{% trans "PRODUTOS" %}</p>
              <p>{{ analysis.products|join:", " }}</p>
              <hr/>
              <p class="title">{% trans "CONTEÚDO" %}</p>
              <p>{{ analysis.category }}</p>
            {% endif %}
            <hr/>
            <p class="title">{% trans "IMAGENS SEMELHANTES" %}</p>
            <div class="overflow-auto">
              {% for img_url in analysis.thumbnails %}
                <img class='thumbnail align-middle' src="{{ img_url }}"/>
              {% endfor %}
            </div>
         </div>
    </div>
  </div>
  {% endwith %}
  {% empty %}
  <p class="no_images">{% trans "Não foram encontradas imagens para a busca selecionada." %}</p>
  {% endfor %}
</div>


