{% load static %}

<div class="carousel_wrapper">
  {% for analysis in images_analyses %}
  {% with counter=forloop.counter %}
  <div class="carousel_element{% if counter == 1 %} active{% endif %}" data-position="{{ counter }}">
    <div class="sm-col md-col-8 sm-col-12 carousel_img carousel_padding">
        <img src="{{ analysis.image.url }}" alt="{{ analysis.title }}" title="{{ analysis.title }}"/>
        <small>{{ analysis.author }}. {{ analysis.date|date:"d.m.Y" }}</small>
    </div>
    <div class="sm-col md-col-4 sm-col-12 carousel_padding carousel_text">
        <div class="carousel_text_nav">
          <span class="prev"><img src="{% static 'img/left.png' %}"/></span>
          <span class="nav_counter">{{ counter }}/{{ total }}</span>
          <span class="next"><img src="{% static 'img/right.png' %}"/></span>
        </div>
        <hr/>
        <div class="carousel_text_content">
            <p class="title">IMAGEM</p>
            <p>{{ analysis.title }}</p>
            <hr/>
            <p class="title">ANÁLISE</p>
            {% for text in analysis.analysis %}
              <p>{{ text }}</p>
            {% endfor %}
            <hr/>
            <p class="title">PRODUTOS</p>
            <p>{{ analysis.products|join:", " }}</p>
            <hr/>
            <p class="title">CONTEÚDO</p>
            <p>{{ analysis.category }}</p>
            <hr/>
            <p class="title">IMAGES SEMELHANTES</p>
            <div class="overflow-auto">
              {% for img_url in analysis.thumbnails %}
                <img class='thumbnail align-middle' src="{{ img_url }}"/>
              {% endfor %}
            </div>
         </div>
    </div>
  </div>
  {% endwith %}
  {% empty %}
    <p class="no_images">Não foram encontradas imagens para a busca selecionada.</p>
  {% endfor %}
</div>


