{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load content_translation %}

{% block head_title %}
    <title>{% trans "OUTRA 33ª Bienal de São Paulo" %} - {% trans_field action "title" LANGUAGE_CODE %}</title>
{% endblock %}

{% block custom_css %}
  {{ action.custom_css }}
{% endblock %}

{% block content %}
    <div class="clearfix">
        <div class="mt4 md-col-6 sm-col-12 mx-auto text_content">
            <h2>{% trans_field action "title" LANGUAGE_CODE %}</h2>
            <hr/>

            <div>
                {% trans_safe_field action "body" LANGUAGE_CODE %}
            </div>
        </div>
    </div>

    {% if action.has_carousel %}
    <div class="clearfix">
        <div class="sm-col-12 md-col-11 mx-auto">
            <hr/>
            <div id="carousel_nav">
                <span class='title'>{% trans "VISUALIZAÇÃO" %}</span>
                <span url="{% url 'action_carousel' action.slug %}" class="nav refresh-carousel active">{% trans "Cronológica" %}</span>
                <span url="{% url 'action_carousel' action.slug %}?order=random" class="nav refresh-carousel">{% trans "Randômica" %}</span>
                {% if action.enable_year_filtering %}
                  <span id="year-filter-btn" class="nav">{% trans "Filtrar por Edição" %}</span>
                {% endif %}
            </div>
            <div id="image-carousel" url="{{action.carousel_url}}"></div>
            <div id="year-filter" style="display: none">
              <hr/>
              <div class="years-list">
                  {% for year, edition in editions_by_year %}
                  <p url="{% url 'action_carousel' action.slug %}?year={{ year }}" class="bienal-year refresh-carousel">{{ year }} - {{ edition}}ª {% trans "Bienal de São Paulo" %}</p>
                  {% endfor %}
              </div>
              <hr/>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="md-col-6 sm-col-12 mx-auto text_content">
            <h3 class="mb2 mt3">{% trans "Metodologia" %}</h3>
            <hr/>

            <div>
                <p>{% trans "Os resultados das imagens da Bienal apresentados aqui seguiram um modo metodológico, que se utiliza de bases pretensamente tecnólogico-científicas, sempre na intenção de destacar os resultados mais inesperados. Estamos interessados nas respostas das Inteligências Artificiais que ampliam os significados das imagens e/ou revelam as categorias das estruturas dessas plataformas." %}</p>

                <p>{% trans "Caso seu interesse seja consultar os resultados brutos, sem o nosso filtro, visite <a href='https://testingdataviz.github.io/BienalArtDecoder' target='_blank'>Bienal Art Decoder</a>, uma plataforma interna construída exclusivamente para o projeto, reunindo todos os resultados produzidos por diferentes Inteligências Artificiais a partir das imagens da mostra." %}</p>

                <p>{% trans "Na categoria Conteúdo há uma gradação dos resultados – adulto, médico, provocativo, falsificação e violência – que segue a seguinte ordem: provável&gt; provável&gt; possível&gt; improvável&gt; muito improvável. Já o termo Seguro para trabalhar é uma expressão utilizada na internet para designar conteúdos adequados para serem vistos em público." %}</p>

            </div>
        </div>
    </div>
    {% endif %}

    <div class="clearfix">
        <div class="md-col-6 sm-col-12 mx-auto" id="action_nav">
            <h3 class="mb0 mt2">{% trans "Questões Relacionadas" %}</h3>
            <hr/>
            {% for question in action.questions.all %}
              <p class="nav_link_container"><span>- </span><a href="{{ question.filter_url }}">{% trans_upper_field question "title" LANGUAGE_CODE %}</a></p>
            {% endfor %}
            <div class="mt4">
                <hr/>
                <span class="nav_link_container">
                    {% if prev %}
                    <span>&lt; <a href="{{ prev.detail_url }}">{% trans "AÇÃO ANTERIOR" %}</a></span>
                    {% endif %}
                     |
                    {% if next %}
                    <span><a href="{{ next.detail_url }}">{% trans "PRÓXIMA AÇÃO" %}</a> &gt;</span>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <script src="{% static "js/action_detail.js"%}"></script>
{% endblock %}

{% block custom_js %}
  {{ action.js_code|safe }}
{% endblock %}
