{% load static %}
{% load i18n %}

<div class="carousel_wrapper">
  {% for analysis in images_analyses %}
  {% with counter=forloop.counter %}
  <div class="carousel_element" data-position="{{ counter }}">
    <div class="sm-col md-col-8 sm-col-12 carousel_img carousel_padding">
        <img class="carousel_image" src="{{ analysis.image.url }}" alt="{{ analysis.title }}" title="{{ analysis.title }}"/>
        <p class='credits'>{{ analysis.author }}. {{ analysis.date|date:"d.m.Y" }}<p>
    </div>
    <div class="sm-col md-col-4 sm-col-12 carousel_padding carousel_text">
        <div class="carousel_text_nav">
          <span class="prev"><img src="{% static 'img/left.png' %}"/></span>
          <span class="nav_counter">{{ counter }}/{{ total }}</span>
          <span class="next"><img src="{% static 'img/right.png' %}"/></span>
        </div>
        <hr/>
        <div class="carousel_text_content">
            <p class="title">{% trans "IMAGEM" %}</p>
            <p>{{ analysis.title }}</p>
            <hr/>
            <p class="title">{% trans "ANÁLISE" %}</p>
            {% for text in analysis.analysis %}
              <p>{{ text }}</p>
            {% endfor %}
            <hr/>
            <p class="title">{% trans "PRODUTOS" %}</p>
            <p>{{ analysis.products|join:", " }}</p>
            <hr/>
            <p class="title">{% trans "CONTEÚDO" %}</p>
            <p>{{ analysis.category }}</p>
            <hr/>
            <p class="title">{% trans "IMAGENS SEMELHANTES" %}</p>
            <div class="overflow-auto">
              {% for img_url in analysis.thumbnails %}
                <img class='thumbnail align-middle' src="{{ img_url }}"/>
              {% endfor %}
            </div>
         </div>
    </div>
  </div>
  {% endwith %}
  {% empty %}
  <p class="no_images">{% trans "Não foram encontradas imagens para a busca selecionada." %}</p>
  {% endfor %}
</div>


