{% extends "base.html" %}

{% block content %}
<div class="clearfix mt4">
  <div class="md-col-5 sm-col-12 mx-auto" id="contact_session">

    <div class="mb4">
        <p>Sugestões sobre o nosso projeto e histórias sobre a 33ª Bienal de São Paulo são muito importantes para nós.</p>

        <p>Fotografias, vídeos curtos, desenhos e outros arquivos relacionados à 33ª Bienal de São Paulo podem ser enviados para contribuir na construção deste arquivo alternativo e não tradicional da exposição. Ao enviar o material, é preciso selecionar a opção que declara que poderemos utilizá-lo sempre dentro do contexto do projeto. O arquivo irá nos ajudar, por exemplo, nas ações que buscam entender como as Inteligências Artificiais lêem as imagens e vídeos produzidos em contextos artísticos. </p>

        <p><b>Muito obrigado!</b></p>
    </div>

    <hr/>

    <form id="contact_form" action="." method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}

          {% if field.id_for_label == "id_upload" or  field.id_for_label == "id_accept_file_upload" %}
            <hr/>
          {% endif %}
          <p>
              {% if field.id_for_label == "id_upload" %}
                <label>ENVIO DE ARQUIVO</label>
                <label for="{{ field.id_for_label }}">selecionar...</label>
                {{ field }}

              {% elif field.id_for_label == "id_accept_file_upload" %}
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <label><small>* {{ error }}</small></label>
                  {% endfor %}
                {% endif %}
                {{ field}}
                  <label for="{{ field.id_for_label }}">
                      <small>{{ field.label }}</small>
                  </label>
              {% else %}
              <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <small>* {{ error }}</small>
                    {% endfor %}
                  {% endif %}
              </label>
                {{ field }}
              {% endif %}
          </p>
      {% endfor %}
    <hr>
      <input type="submit" style="display: none" value="ENVIAR"/>
      <p><label id="submit_button">ENVIAR</label></p>
    </form>

    <hr>
  </div>
</div>
{% endblock %}

{% block custom_js %}
$(document).ready(function(){
  $("#submit_button").click(function(){
    $("#contact_form").submit();
  });
});
{% endblock %}
