{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    <title>{% trans "Outra 33 Bienal" %} - {% trans "Contato" %}</title>
{% endblock %}

{% block extra_head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<style>
    .g-recaptcha {
        display: inline-block;
    }
</style>
{% endblock %}

{% block content %}

<div class="clearfix mt4">
  <div class="md-col-6 sm-col-12 mx-auto" id="contact_session">

    <div class="mb4">
        <p>{% trans "Fotografias, vídeos curtos, desenhos e outros arquivos relacionados à 33ª Bienal de São Paulo podem ser enviados para contribuir na construção deste arquivo alternativo e não tradicional da exposição. Ao enviar o material, é preciso selecionar a opção que declara que poderemos utilizá-lo sempre dentro do contexto do projeto. O arquivo irá nos ajudar, por exemplo, nas ações que buscam entender como as Inteligências Artificiais lêem as imagens e vídeos produzidos em contextos artísticos." %}</p>

        <p><b>{% trans "Muito obrigado!" %}</b></p>
    </div>

    <form id="contact_form" action="." method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}

          {% if field.id_for_label == "id_upload" or  field.id_for_label == "id_accept_file_upload" %}
            <hr/>
          {% endif %}
          <p>
              {% if field.id_for_label == "id_upload" %}
                <label>{% trans "ENVIO DE ARQUIVO" %}</label>
                <label for="{{ field.id_for_label }}">{% trans "selecionar..." %}</label>
                {{ field }}

              {% elif field.id_for_label == "id_accept_file_upload" %}
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <label><small>* {{ error }}</small></label>
                  {% endfor %}
                {% endif %}
                {{ field}}
                  <label for="{{ field.id_for_label }}">
                      <small>{{ field.label }}</small>
                  </label>
              {% else %}
              <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <small>* {{ error }}</small>
                    {% endfor %}
                  {% endif %}
              </label>
                {{ field }}
              {% endif %}
          </p>
      {% endfor %}
    <hr>
      <div style='text-align: center;'>
        <div class="g-recaptcha" data-sitekey="6LceCWkUAAAAAJbYyCluVNj5y_L-CSQwBgVQR_fa" data-callback="enableBtn"></div>
      </div>
      <input type="submit" style="display: none" value="ENVIAR"/>
      <p><label id="submit_button">{% trans "ENVIAR" %}</label></p>
    </form>

    <hr>
  </div>
</div>
{% endblock %}

{% block custom_js %}
function enableBtn(){
  $("#submit_button").prop("disabled", false);
  $("#submit_button").show();
}

$(document).ready(function(){
  $("#submit_button").prop("disabled", true);
  $("#submit_button").hide();
  $("#submit_button").click(function(){
    if (!$(this).prop("disabled")) {
      $("#contact_form").submit();
    }
  });
});
{% endblock %}
