
{% extends "app_base.html" %}

{% block custom_css %}
.action-list {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;

  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;

}
{% endblock %}


{% block content %}
<div class="main-content">
  <div class="title"></div>
  <div class="action-list">
    {% for action in actions %}
      <div class="action flex">
        <div class="action-title flex-auto">{{ action.title }} </div> <div class="action-date"><a href="{{ action.detail_url }}">detail</a></div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
