
{% extends "app_base.html" %}

{% block custom_css %}
.action-list {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;

  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;

}
{% endblock %}


{% block content %}
<div class="main-content">
  <div class="title"></div>
  <div class="action-list">
    {% for action in actions %}
      <div class="action_entry flex">
          <div class="action-title flex-auto"><a href="{{ action.detail_url }}">{{ action.title }}</a></div><div class="action-date">{{ action.date_added.date|date:"M o"}}</div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
