{% extends "base.html" %}

{% block content %}
<div class="clearfix">
    <div class="md-col-5 sm-col-12 mx-auto" id="actions_list">
        {% if question %}
        <h2>{{ question.title }}</h2>
        <hr/>
        <div class="text_content">
          <p>{% lorem 1 %}</p>
        </div>
        {% else %}
        <h2>Ações</h2>
        {% endif %}
        <hr/>

        <div class="actions">
            {% for action in actions %}
                <p><a class="action_link" href="{{ action.detail_url }}">{{ action.title }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
