@font-face {
  font-family: "BienalMono";
  src: url("/static/fonts/ibm_plex_mono.ttf"); }
body {
  font-family: "Neutral Regular";
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  color: #111;
  background-color: #fff;
  text-rendering: geometricPrecision; }

h1, h2, h3, h4, h5, h6, b, strong, b, .bold {
  font-family: "Neutral Bold";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal; }

a {
  color: #111;
  text-decoration: none; }
  a:link, a:visited {
    text-decoration: none; }

header {
  line-height: 1.5rem;
  font-size: 1.25rem; }
  header .header_link:hover {
    padding-bottom: 0.4em;
    border-bottom: 1px solid #111; }
  header .header_link.active {
    padding-bottom: 0.4em;
    border-bottom: 1px solid #111; }
  header #id_search {
    border-color: transparent;
    border-bottom: 1px solid #111;
    margin: 0;
    font-size: 1rem;
    width: 60%; }
  header #id_question {
    border: 1px solid #111;
    background: transparent;
    width: 70%;
    font-size: 1rem; }
  header .language_picker {
    padding-left: 1rem;
    font-size: 0.85rem; }

hr {
  border-top: 1px solid #111; }

#action_filter_form {
  margin-bottom: 0em; }

.text_content, .metodologia_content, #action_nav, .carousel_element .carousel_text, #about_content, #contact_session {
  text-align: center; }
  .text_content hr, .metodologia_content hr, #action_nav hr, .carousel_element .carousel_text hr, #about_content hr, #contact_session hr {
    width: 15%; }
  .text_content p, .metodologia_content p, #action_nav p, .carousel_element .carousel_text p, #about_content p, #contact_session p, .text_content span, .metodologia_content span, #action_nav span, .carousel_element .carousel_text span, #about_content span, #contact_session span {
    font-size: 0.9rem;
    line-height: 1.6rem; }
  .text_content a, .metodologia_content a, #action_nav a, .carousel_element .carousel_text a, #about_content a, #contact_session a {
    text-decoration: underline; }
    .text_content a:link, .metodologia_content a:link, #action_nav a:link, .carousel_element .carousel_text a:link, #about_content a:link, #contact_session a:link, .text_content a:visited, .metodologia_content a:visited, #action_nav a:visited, .carousel_element .carousel_text a:visited, #about_content a:visited, #contact_session a:visited {
      text-decoration: underline; }

.text_content img {
  width: 90%;
  height: auto; }

.metodologia_content p {
  font-size: 0.8em; }

.main_container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.header_item {
  text-align: center; }

#actions_list {
  text-align: center; }
  #actions_list hr {
    width: 40%; }
  #actions_list h2 {
    font-size: 1.85rem;
    padding-top: 1em; }
  #actions_list .actions {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 1.5em; }
    #actions_list .actions p {
      font-size: 1.5rem; }

#system_log_list {
  text-align: center;
  font-family: "BienalMono"; }
  #system_log_list hr {
    width: 60%;
    margin-bottom: 1.5em; }

#action_nav {
  padding-top: 1.5em; }
  #action_nav hr {
    margin-top: 1.2em; }
  #action_nav a {
    font-size: 0.9rem; }
  #action_nav p, #action_nav span {
    font-family: "BienalMono"; }

.carousel_wrapper {
  text-align: center; }
  .carousel_wrapper .no_images {
    margin: 2em 0 2em 0; }

#carousel_nav {
  padding-bottom: 0.5em; }
  #carousel_nav .title {
    font-family: "BienalMono"; }
  #carousel_nav span {
    margin-right: 2em; }
  #carousel_nav .nav:hover {
    cursor: pointer; }
  #carousel_nav .active {
    text-decoration: underline; }

.carousel_wrapper {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  overflow: hidden; }

.carousel_element {
  display: none; }
  .carousel_element.active {
    display: block; }
  .carousel_element .carousel_padding {
    padding: 1em; }
    .carousel_element .carousel_padding:first-child {
      padding-left: 0; }
    .carousel_element .carousel_padding:last-child {
      padding-right: 0;
      padding-left: 0; }
    @media only screen and (max-width: 64em) {
      .carousel_element .carousel_padding {
        padding: 1em 0; } }
  .carousel_element .carousel_img {
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center; }
    .carousel_element .carousel_img .landscape {
      width: 95%;
      height: auto; }
    .carousel_element .carousel_img .portrait {
      height: 700px;
      width: auto; }
    .carousel_element .carousel_img .credits {
      font-size: 0.8rem; }
  .carousel_element .carousel_text hr {
    width: 100%; }
  .carousel_element .carousel_text p {
    margin: 0; }
  .carousel_element .carousel_text .carousel_text_nav {
    padding-bottom: 1em;
    font-family: "BienalMono"; }
    .carousel_element .carousel_text .carousel_text_nav span {
      vertical-align: middle; }
    .carousel_element .carousel_text .carousel_text_nav .nav_counter {
      font-size: 0.8rem; }
    .carousel_element .carousel_text .carousel_text_nav .prev, .carousel_element .carousel_text .carousel_text_nav .next {
      font-size: 2.5rem;
      cursor: pointer; }
  .carousel_element p.title {
    font-family: "BienalMono";
    margin-bottom: 0.6em; }
  .carousel_element .thumbnail {
    width: 25%;
    height: auto;
    padding: 0 0.25em 0 0.25em; }

#year-filter {
  text-align: center; }
  #year-filter .years-list {
    margin: 2em 0 2em 0; }
    #year-filter .years-list p {
      cursor: pointer; }

#about_content hr {
  margin-top: 1em;
  margin-bottom: 1em; }
#about_content h4 {
  margin-bottom: 0px; }
#about_content #interview {
  margin-top: 2em; }
#about_content .profile {
  margin-top: 0em;
  font-size: 0.8rem; }
#about_content .ampliado {
  text-decoration: underline; }
#about_content .question {
  font-weight: bold; }
#about_content .answer label {
  font-weight: bold; }

#contact_session hr {
  width: 100%; }
#contact_session textarea {
  width: 100%;
  border: 1px solid #111; }
#contact_session input[type="text"], #contact_session input[type="email"] {
  width: 100%;
  border-color: transparent;
  background: transparent;
  border-bottom: 1px solid #111;
  align: center; }
#contact_session input[type="file"] {
  display: none; }
#contact_session input[type="submit"] {
  border-bottom: 1px solid #111;
  display: inline-block;
  cursor: pointer; }
#contact_session input[type="checkbox"] {
  border-bottom: 1px solid #111;
  display: inline-block;
  cursor: pointer; }
#contact_session label {
  line-height: 1.25rem;
  font-size: 0.9rem;
  font-family: "BienalMono";
  margin-bottom: 1em;
  display: block; }
#contact_session label[for="id_upload"] {
  line-height: 1.25rem;
  font-size: 0.9rem;
  border-bottom: 1px solid #111;
  display: inline-block;
  cursor: pointer; }
#contact_session label[id="submit_button"] {
  line-height: 1.25rem;
  font-size: 0.9rem;
  margin-top: 1em;
  border-bottom: 1px solid #111;
  display: inline-block;
  cursor: pointer; }

@media only screen and (max-width: 64em) {
  .main_container {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }

  .main_title {
    text-align: center;
    margin-bottom: 0.5rem; }

  .header_item {
    margin-bottom: 0.5rem; }

  #actions_list .text_content {
    max-width: 100%; }

  h2 {
    line-height: 2rem; }

  header .header_link.active {
    padding-bottom: 0.1em;
    border-bottom: 1px solid #111; } }

/*# sourceMappingURL=style.css.map */
