<fieldset class="full-width">
    <h2 class="legend">Ajudinha...</h2>
        <div class="box">
            <p>Os campos de resultados das análises necessitam respeitar a linguagem de marcação <a href="http://yaml.org/" target="_blank">YAML</a>. Você pode acessar <a href="http://www.yamllint.com/" target="blank">este link</a> para validar o formato do YAML.</p>
            <p>Mais precisamente, os dados devem estar organizados como no formato abaixo:</p>
<code style="display: block; white-space: pre-wrap">
analise:
  - a statue of a person
  - sarcophagus coffin
  - some text here
produtos:
  - support
  - table
  - phone
  - TV
categoria: racy 70%
</code>
    </div>

</fieldset>
